//META{"name":"Triperis","description":"Do not reupload or say that it is your theme","author":"TheBlaster1337#5487","version":"1.0.4","source":"https://github.com/Slavmen/discord-tema","website":"http://discord.io/ltmp"}*//{}
/*



_____________________.__________________________________.___  _________
\__    ___/\______   \   \______   \_   _____/\______   \   |/   _____/
  |    |    |       _/   ||     ___/|    __)_  |       _/   |\_____  \ 
  |    |    |    |   \   ||    |    |        \ |    |   \   |/        \
  |____|    |____|___/___||____|   /_________/ |____|___/___/_________/
                                                               



* ------------------------- *
TRIPERIS Theme
Made by TheBlaster1337#5487
* ------------------------- *

The author (TheBlaster1337#5487) retains full rights of this code.
You are not allowed to redistribute this theme or any part of it as your own. That means do not post an edited version of this theme anywhere.
*/
/*###############################################################################################*/
@import url("https://slavmen.github.io/discord-tema/triperis/core.css");
/*###############################################################################################*/
:root {
	--primary: #d90000;
	--primaryT: rgba(217, 0, 0,.25);
	--primary2: #d90000;
	--dark: #141418;
	--main-bg-color: #d90000;
	--medium: #141418;
	--light: #2e3038;
	--HomeButtonImg: url(https://i.imgur.com/w0KiyLe.png)
}
